/* grid css o alque que modifique el layaut */
/* movile version */
.containerFrist{
    display: flex;
    background-color: $color2;
    width: 100%;
    height: 280px;
    justify-content: center;
  }
.containerCenter{
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: 89px 150px;
    background-color: $color1;
    height: 280px;
    width: 70%;
    justify-items: center;
    text-align: justify;
}
.sectionOne, .sectionTwo{
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
}
.picture {
    background-color: aquamarine;
    width: 90%;
    margin: auto;
    height: 200px;
}
.text {
    background-color: azure;
    width: 90%;
    margin: auto;
    height: 200px;
    p{
        padding-top: 40px;
        text-align: justify;
        margin: auto;
        font-size: 1.3rem; 
    } 
}
.containerSkills{
    background-color: $color2;
    height: 180px;
    width: 100%;
}
.title{
    height: 50px;
    width: 100%;
}
.title-h2{
    margin-top: 10px;
    font-size:30px;
    text-align: center;
    padding-top: 15px;

}
.skills{
    height: 100px;
    width: 100%;
    @include centrarIconos;  
}
.fa-vuejs, .fa-square-js, .fa-html5, .fa-css3-alt,.fa-java, .fa-database{
    @include iconTamanioMovile;
}
.c{
  display: inline;
  font-size: 40px;
  margin: 15px;
  padding:0;
  border: 0.5px solid;
}
.containerEducation{
    width: 100%;
    height: 970px;
    background-color: $color3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titleEducation{
    height: 40px;
    font-size: 30px;
    text-align: center;
}
.containerEstudies{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6,1fr);
    border: 1px solid;
    gap: 5px;
    p{
        font-size: 20px;
        padding-left: 5px;
        padding-top: 5px;
        padding: 5px;
    }

}
.estudioFecha1,.estudio1{
    height: 150px;
    border-bottom: 1px solid;
}
.estudioFecha2,.estudio2{
    height: 150px;
    border-bottom: 1px solid;
}
.estudioFecha3,.estudio3{
    height: 150px;
    border-bottom: 1px solid;
}
.estudioFecha4,.estudio4{
    height: 150px;
    border-bottom: 1px solid;
    
}
.estudioFecha5,.estudio5{
    height: 150px;
    border-bottom: 1px solid;
}
.estudioFecha6,.estudio6{
    height: 150px;
    border-bottom: 1px solid;
}




/* destock version */
@media (min-width: 820px) {
    .containerFrist{
        display: flex;
        justify-content: center;
    }
    .containerCenter{
        display: flex;
        flex-direction:row-reverse;
       align-items: center;
    }

    .sectionOne{
        display: grid;
        grid-template-columns: 40% 59.2%;
        grid-template-rows:180px;
        height: 200px;
        gap: 10px;
    }
    .sectionTwo{
        /*display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 180px;*/
        display: flex;
        flex-direction:row-reverse;
        height: 180px;
    }
    .picture{
        width: 100%;
        background-color: $color2;
    }
    .text{
        width: 100%;
        background-color: $color1;
    }
    .containerSkills{
        background-color: $color2;
        height: 210px;
        width: 100%;
        margin-top: 40px;
    }
    .title{
        height: 50px;
        width: 100%;
    }
    .title-h2{
        margin-top: 10px;
        font-size:30px;
        text-align: center;
        padding-top: 15px;

    }
    .skills{
        height: 150px;
        width: 100%;
        @include centrarIconos;  
    }
    .fa-vuejs, .fa-square-js, .fa-html5, .fa-css3-alt,.fa-java, .fa-database{
        @include iconTamanioDestok;
    }
    .c{
      display: inline;
      font-size: 70px;
      margin: 15px;
      padding:0;
      border: 0.5px solid;
    }
    .containerEstudies{
        p{
            font-size: 30px;
            padding-left: 5px;
            padding-top: 5px;
        }
    }

}