/* grid css o alque que modifique el layaut */
/* movile version */
.home{
}
.containerFrist{
    display: flex;
    background-color: $color2;
    width: 100%;
    height: 280px;
    justify-content: center;
  }
.containerCenter{
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 100px 150px;
    background-color: $color1;
    height: 280px;
    width: 100%;
    justify-content: center;
    text-align: justify;
    .img img{
        display: flex;
    }
    h2{
        padding: 10px;
    }
}
.title-proyects{
    h2{
        height: 30px;
        text-align: center;
        margin-top: 20px;
    }
}
.sectionOne, .sectionTwo{
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
}
.picture {
    background-color: aquamarine;
    width: 90%;
    margin: auto;
    height: 200px;
    img{
        height: 200px;
        width: 100%;
    }
}
.text {
    background-color: azure;
    width: 90%;
    margin: auto;
    height: 200px;
    p{
        padding-top: 40px;
        text-align: justify;
        margin: auto;
        font-size: 1.3rem; 
    } 
}
.containerSkills{
    background-color: $color2;
    height: 180px;
    width: 100%;
}
.title{
    height: 50px;
    width: 100%;
}
.title-h2{
    margin-top: 10px;
    font-size:30px;
    text-align: center;
    padding-top: 15px;

}
.skills{
    height: 100px;
    width: 100%;
    @include centrarIconos;  
}
.fa-vuejs, .fa-square-js, .fa-html5, .fa-css3-alt,.fa-java, .fa-database{
    @include iconTamanioMovile;
}
.c{
  display: inline;
  font-size: 40px;
  margin: 10px;
  padding:0;
  border: 0.5px solid;
}
.containerEducation{
    width: 100%;
    height: auto;
    background-color: $color3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titleEducation{
    height: 40px;
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
}
.containerEstudies{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6,1fr);
   
    gap: 5px;
    p{
        font-size: 20px;
        padding-left: 5px;
        padding-top: 5px;
        padding: 5px;
    }

}
.estudioFecha1,.estudio1{
    height: 150px;
    border-bottom: 1px solid;
    width: 90%;
}
.estudioFecha2,.estudio2{
    height: 150px;
    border-bottom: 1px solid;
    width: 90%;
}
.estudioFecha3,.estudio3{
    height: 150px;
    border-bottom: 1px solid;
    width: 90%;
}
.estudioFecha4,.estudio4{
    height: 160px;
    border-bottom: 1px solid;
    width: 90%;
    
}
.estudioFecha5,.estudio5{
    height: 150px;
    border-bottom: 1px solid;
    width: 90%;
}
.estudioFecha6,.estudio6{
    height: 163px;
    border-bottom: 1px solid;
    width: 90%;
}

.experience{
    height: 560px;
    margin-top: 20px;
    margin-bottom: 20px;
    
   
}
.tituloexperiencia{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.experiencia1{
    padding: 4px;
    width: 100%;
    height: 230px;
    h2,h3,h4,h5{
        padding-bottom: 15px;
        padding-top: 10px;
        padding: 8px;
    }
    p{
        padding: 4px;
    }
}
.experiencia2{
    padding: 4px;
    width: 100%;
    margin-top: 95px;
    height: 230px;

    h2,h3,h4,h5{
    
     padding-bottom: 15px;
     padding-top: 10px;
     padding: 8px;
    }
    p{
        padding: 4px;
    }
}
.contacto{
    padding-bottom: 20px;
}
footer{
    margin-top: 140px;
}




/* destock version */
@media (min-width: 820px) {
    .containerFrist{
        display: flex;
        justify-content: center;
    }
    .containerCenter{
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
        width: 85%;
        p{
            padding-left: 10px;
        }
    }
    .secondContainer{
        width: 90%;
       margin: auto;
    }

    .sectionOne, .sectionTwo{
        display: grid;
        grid-template-columns: 30% 68.2%;
        grid-template-rows:180px;
        height: 200px;
        gap: 10px;
    }
    .sectionTwo{
       padding-top: 10px;
    }
    .picture{
        width: 100%;
        background-color: $color2;
        img{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .text{
        width: 100%;
        background-color: $color1;
    }
    .containerSkills{
        background-color: $color2;
        height: 210px;
        width: 100%;
        margin-top: 40px;
    }
    .title{
        height: 50px;
        width: 100%;
    }
    .title-h2{
        margin-top: 10px;
        font-size:30px;
        text-align: center;
        padding-top: 15px;

    }
    .skills{
        height: 150px;
        width: 100%;
        @include centrarIconos;  
    }
    .fa-vuejs, .fa-square-js, .fa-html5, .fa-css3-alt,.fa-java, .fa-database{
        @include iconTamanioDestok;
    }
    .c{
      display: inline;
      font-size: 70px;
      margin: 15px;
      padding:0;
      border: 0.5px solid;
    }
    .containerEducation{
        width: 90%;
        margin: auto;
    }

    .containerEstudies{
        p{
            padding-left: 5px;
            padding-top: 5px;
        }
    }
    .experience{
        height: 350px;
        margin-bottom: 90px;
        width: 90%;
        margin: auto;
    }

    .experienciaLaboral{
        display: flex;
    }
    .experiencia2{
        margin-top: 0;
    }
    footer{
        margin-top: 90px;
        padding-bottom: 40px;
        
    }

}